body {
    margin: 0;
    width: auto;
    display: flex;
    height: 100vh;
    background: #F0F0F0;
    align-items: center;
}
.container {
    max-width: 840px;
    margin: 0 auto;
    background: #FFF;
    border-radius: 24px 24px 176px 24px;
    padding: 56px 56px 70px;
}
input {
    width: 115px;
    display: flex;
    font-size: 30px;
    font-weight: 700;
    color: #716F6F;
}
form {
    display: flex;
    flex-direction: column;
}
.form_container {
    display: flex;
    gap: 16px;
    margin-bottom: 48px;
}
.block label {
    font-size: 14px;
    font-weight: 700;
    line-height: 20px;
    font-family: 'Poppins';
    color: #716F6F;
}
.submit_block {
    display: flex;
    align-items: center;
    position: relative;
    margin-bottom: 33px;
}
.submit_block .submit_btn {
    border-radius: 50%;
    padding: 26px 25px;
    background-color: #854DFF;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    position: absolute;
    right: 0;
}
hr {
    color: #DBDBDB;
    width: 632px;
    margin: 0;
}
small {
    color: red;
}
#day,
#month,
#year {
    width: 147px;
    padding: 17px 6px;
    border-radius: 8px;
    border: 1px solid black;
    background: #FFF;
    outline: none;
}
.block {
    position: relative;
}
#day-error,
#month-error,
#year {
    position: absolute;
}
.submit_btn:hover {
    background-color: #000;
}
.output {
    font-family: 'Poppins';
}
@media screen and (max-width:768px) {
    .container {
        padding: 1rem;
        border-radius: 24px 24px 88px 24px;
    }
    .form_container {
        margin-bottom: 48px;
        justify-content: space-between;
    }
    .submit_block {
        position: relative;
    }
    /* .year-result,
    .month-result,
    .day-result {
        color: #141414;
        font-family: Poppins;
        font-size: 532px;
        font-style: normal;
        font-weight: 700;
        line-height: 57.2px;
    } */
    #day,
    #month,
    #year {
        padding: 5px 12px;
        border-radius: 8px;
        border: 1px solid blue;
        background: #FFF;
    }
}
/* Edit show result */
.output {
    display: flex;
    gap: 19px;
}
.output-result-number #years-result,
#months-result,
#days-result {
    font-size: 96px;
    color: #854DFF;
    line-height: 105.6px;
    font-weight: 700;
}
.year-result,
.month-result,
.day-result {
    line-height: 105.6px;
    font-size: 96px;
    font-weight: 700;
}
#day-error,
#month-error,
#year-error {
    color: red;
}